html {
  --tele-font-size: inherit;
  font-size: var(--tele-font-size);
}

.teleprompter-index {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.teleprompter-index ul {
  margin-top: 8px;
  margin-bottom: 15px;
}

.teleprompter-index li {
  margin-bottom: 8px;
}

.teleprompter--colors-inverted {
  filter: invert(1);
  background: black;
}

.teleprompter--mirrored {
  transform: scaleX(-1);
}

.teleprompter--mirrored .teleprompter-panel {
  transform: scaleX(-1);
}

.teleprompter-panel {
  font-size: 20px;
  line-height: 20px;
  font-family: sans-serif;
  border: 1px solid grey;
  padding: 20px;
  white-space: normal;
  width: min-content;
  margin-bottom: 50px;
}

.teleprompter-panel label {
  width: 100%;
  display: block;
  margin: 15px 0 0 0;
  padding: 0;
  line-height: 20px;
  position: relative;
}

.teleprompter-panel label:first-child {
  margin-top: 0;
}

.teleprompter-panel input {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.teleprompter-panel input[type=number] {
  width: 42px;
  font-size: 16px;
}

.teleprompter-panel label span {
  padding-left: 50px;
  white-space: nowrap;
}
